<template>
  <div id="app">
    <span>{{count}}</span>
    <button @click="increment">+</button>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'


export default {
  name: 'app',
  data() {
    return {
      count: undefined
    }
  },
  mounted() {
    this.count = this.$store.state.count
  },
  methods: {
    increment() {
      this.$store.dispatch('increment')
        .then((result) => {
          this.count = result
        })
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
